<div id="<%= dom_id sleep %>">
  <p>
    <strong>User:</strong>
    <%= sleep.user_id %>
  </p>

  <p>
    <strong>Clock in:</strong>
    <%= sleep.clock_in %>
  </p>

  <p>
    <strong>Clock out:</strong>
    <%= sleep.clock_out %>
  </p>

</div>
